.search {
    height: 260px;
    width: 95%;
    margin: auto;
    text-align: left;
  }

.title{

    margin: auto;
    text-align: center;
}

.logout{
    margin: auto;
    text-align: center;
}

.searchResult{
    margin: auto;
    text-align: left;
}

.user{
    width: 95%;
    margin: auto;
    text-align: left;
}