<html>
  <div class="title">
    <h1>Friend Picker</h1>
  </div>

  <div class="logout">
    <button (click)="login()" [hidden]="loggedState">Login</button>
  </div>
 
  <div *ngIf="loggedState">
    <div  class="user">
      <p>Logged in as: {{ profile?.displayName }}</p>
    </div>
  
    <div class="search">
      <h3>Search</h3>
      <input type="text" [(ngModel)]="userNameFilter" />
      <button mat-stroked-button (click)="getUsers()">Search</button>
  
      <div>
        <ul>
          <li *ngFor="let u of users" class="searchResult">
            <button (click)="addFriend(u!)" *ngIf="!isFriend(u!)">Add</button>
            {{ u.displayName }} ({{ u.userPrincipalName }})
          </li>
        </ul>
      </div>
    </div>
  
    <div class="friendslist">
      <h3>My Friends</h3>
      <div>
        <ul>
          <li *ngFor="let u of friends">
            <button (click)="removeFriend(u!)">❌</button>
            {{ u?.displayName }} ({{ u?.userPrincipalName }})
          </li>
        </ul>
      </div>
    </div>
  </div>
  

  <div class="logout">
    <button mat-stroked-button (click)="logout()" [hidden]="!loggedState">
      Logout
    </button>
  </div>
</html>